# Build and compilation outputs
bin/
obj/
out/

# IDE & Editor settings
.vs/
.vscode/
*.user
*.suo

# macOS system files
.DS_Store

# Test harness 
__pycache__/
*.pyc
run_tests.py


#individual lab0 submission files
*_exercism.md
*_reflection.md
*_lab0.pdf


#ignore build artifacts
build/
